@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" width="display-content">
    <img class="px-0 p-0 mr-0 mb-0 mt-0 ms-0 float-start" src="@BackgroundImagePath" alt="Background Image"/>
    <p>Let's make your wish decorations!</p>
</div>